* {
  box-sizing: border-box; }

body {
  max-width: 1600px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300; }

/*font-family: 'Hammersmith One', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;*/
.container_my {
  max-width: 960px;
  margin: 0 auto; }

header {
  background-image: url(../img/header_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 670px; }
  header .header_logo {
    display: flex;
    align-items: center;
    justify-content: center; }
  header .header_menu {
    padding-top: 27px; }
  header .menu ul {
    display: flex;
    justify-content: space-between; }
  header ul :last-child {
    padding-right: 0; }
  header :first-child
ul :first-child {
    padding-left: 0; }
  header .menu li {
    display: inline-block; }
  header .menu a {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #F1F0F3;
    padding: 0px 20px;
    text-decoration: none; }
  header .menu a:hover {
    text-decoration: none;
    color: #00E0D0; }
  header .header_info {
    margin: 162px 0 27px; }
  header .header_title h1 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    padding: 0 auto;
    text-align: center;
    color: #F1F0F3; }
  header .header_button a {
    color: #00E0D0;
    border: 1px solid #00E0D0;
    padding: 14px 15px;
    border-radius: 1px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 0 auto; }
  header a:hover {
    text-decoration: none;
    color: #00E0D0; }
  header .header_info_text p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    color: #F1F0F3;
    padding: 0 10px;
    margin: 0 auto 53px; }

.our_story {
  height: 404px;
  margin-bottom: 100px; }
  .our_story .col-3 img {
    max-width: 100%;
    max-height: 100%; }
  .our_story .row {
    margin: 72px 0 0; }
  .our_story .story_title h1 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: 700;
    color: #413D4B;
    margin: 0 0 29px; }
  .our_story .story_text_item {
    margin: 0 0 30px; }
  .our_story .story_item .header_button {
    display: inline-block; }
  .our_story .header_button a {
    color: #00E0D0;
    border: 1px solid #00E0D0;
    padding: 14px 15px;
    border-radius: 1px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 0 auto; }
  .our_story a:hover {
    text-decoration: none;
    color: #00E0D0; }

.video {
  background-image: url(../img/video_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 550px; }
  .video .video_item .row {
    padding: 200px 0 0; }
  .video .video_icon {
    display: flex;
    align-items: center;
    justify-content: center; }
  .video .video_text {
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding-top: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    min-height: 160px !important; }

.expertise {
  min-height: 755px; }
  .expertise .line {
    background-color: #C6C4C9;
    height: 2px;
    width: 50px;
    margin: 0 auto 32px; }
  .expertise .line {
    margin-bottom: 0; }
  .expertise .expertise_head_title {
    text-transform: uppercase;
    color: #413D4B;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: 700; }
  .expertise .expertise_head_text {
    color: #78767C;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
    margin: 15px 0; }
  .expertise .head {
    margin: 70px 0 40px; }
  .expertise .expertise_item {
    margin: 40px; }
    .expertise .expertise_item .expertise_img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 35px; }
    .expertise .expertise_item .expertise_title {
      color: #4C4856;
      text-transform: uppercase;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 900;
      margin-bottom: 25px; }
    .expertise .expertise_item .expertise_text {
      padding: 0 45px;
      color: #989898;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      line-height: 22px;
      font-weight: 300; }
  .expertise .big_line .line {
    background-color: #EBEBEB;
    height: 1px;
    width: 100%;
    margin: 0 auto 32px; }

.team {
  background-image: url(../img/meet_otr_team_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 710px; }
  .team .line {
    background-color: #60567C;
    height: 2px;
    width: 50px;
    margin: 0 auto 32px; }
  .team .line {
    margin-bottom: 0; }
  .team .expertise_head_title {
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: 700; }
  .team .expertise_head_text {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
    margin: 15px 0; }
  .team .head {
    padding: 70px 0 47px; }
  .team .team_item {
    margin-bottom: 70px; }
    .team .team_item img {
      max-width: 100%;
      margin: 0 0 20px; }
    .team .team_item .name {
      color: #F4F4F6;
      text-transform: uppercase;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 900;
      margin-bottom: 12px; }
    .team .team_item .position {
      color: #908BA4;
      text-transform: uppercase;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 300;
      margin-bottom: 28px; }
    .team .team_item .team_border {
      border: 1px solid #7F7B94;
      max-height: 310px; }
  .team .team_btn .team_slogan {
    color: #908BA4;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300; }
  .team .team_btn .header_button a {
    color: #00E0D0;
    border: 1px solid #00E0D0;
    padding: 14px 15px;
    border-radius: 1px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    display: inline-block; }
  .team .team_btn a:hover {
    text-decoration: none;
    color: #00E0D0; }
  .team .team_btn .header_button {
    text-align: center;
    margin-top: 25px; }

.our_works {
  min-height: 680px; }
  .our_works .header_button a {
    color: #00E0D0;
    border: 1px solid #00E0D0;
    padding: 14px 15px;
    border-radius: 1px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    width: 100%; }
  .our_works a:hover {
    text-decoration: none;
    color: #00E0D0; }
  .our_works .works img {
    max-width: 100%; }
  .our_works .works_title {
    text-transform: uppercase;
    color: #413d4b;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: 700; }
  .our_works .works_link {
    color: #413d4b;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300; }
    .our_works .works_link a {
      color: #413d4b; }
  .our_works .text {
    margin: 72px 0; }
  .our_works .works_btn {
    padding: 70px 0; }

.comments {
  background-image: url(../img/comments_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px; }
  .comments .comments_quots {
    padding: 70px 45px; }
  .comments .comments_text {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 55px; }
  .comments .name {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 22px;
    text-transform: uppercase; }
  .comments .position {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    text-transform: uppercase; }
  .comments .comments_quots_img {
    display: flex;
    align-items: center;
    justify-content: center; }
  .comments ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0; }
  .comments li {
    display: inline-block; }
  .comments .employees {
    padding: 42px 65px; }

.form {
  min-height: 655px; }
  .form input {
    display: block;
    width: 100%;
    height: 45px;
    margin: 23px 0;
    border: 1px solid #E5E5E5; }
  .form input:first-child {
    margin-top: 0; }
  .form input::-webkit-input-placeholder {
    color: #A09EA5;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 20px 0 17px 20px; }
  .form textarea::-webkit-input-placeholder {
    color: #A09EA5;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 20px 0 17px 20px; }
  .form .text {
    height: 200px;
    width: 100%;
    border: 1px solid #E5E5E5; }
  .form h1 {
    text-align: center;
    color: #413D4B;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: 900;
    padding: 70px 0 36px;
    text-transform: uppercase; }
  .form .header_button a {
    color: #00E0D0;
    border: 1px solid #00E0D0;
    padding: 14px 15px;
    border-radius: 1px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    width: 120px; }
  .form a:hover {
    text-decoration: none;
    color: #00E0D0; }
  .form .test {
    padding: 20px 0 70px; }

footer {
  min-height: 400px;
  background-image: url(../img/footer_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  footer .first {
    padding: 70px 0 18px; }
    footer .first h1 {
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      font-weight: 900;
      line-height: 52px;
      vertical-align: middle;
      text-transform: uppercase; }
  footer .second .text {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px; }
  footer .second .right {
    position: relative; }
  footer .second #right {
    position: absolute;
    left: 30px;
    top: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px; }
  footer .second .right2 {
    position: relative; }
  footer .second #right2 {
    position: absolute;
    left: 30px;
    top: 75px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px; }
  footer .second #img_right2 {
    position: absolute;
    top: 80px; }
  footer .second a {
    padding: 13px 15px;
    border: 1px solid #9E98B0;
    color: #9E98B0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px; }
  footer .second #send {
    padding-left: 10px;
    position: absolute;
    top: -10px; }
  footer .second ul {
    display: flex;
    justify-content: space-between;
    padding: 27px 0 0;
    width: 255px; }
  footer .second ul:last-child {
    padding-right: 0; }
  footer .second ul:first-child {
    padding-left: 0; }
  footer .second li {
    display: inline-block; }
  footer .third {
    padding-top: 67px; }
    footer .third ul {
      display: flex;
      justify-content: space-between; }
    footer .third ul:last-child {
      padding-right: 0; }
    footer .third ul:first-child {
      padding-left: 0; }
    footer .third li {
      display: inline-block;
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 26px;
      text-transform: uppercase; }
    footer .third .copyright {
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      text-align: right; }
    footer .third .copy {
      padding-right: 35px; }
